<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body class="bg-gradient-to-b from-gray-950 via-gray-800 to-gray-950">

    <div class="max-w-lg mx-auto mt-10 shadow-lg bg-gray-800 rounded-lg p-8">
        <h1 class="text-3xl font-bold text-center text-white mb-6">Edit Profile</h1>

        <!-- edit email + username + pfp-->
        <form action="/users/edit-profile" method="POST" enctype="multipart/form-data" class="space-y-4">

            <div class="text-center">
                <label class="block text-sm font-medium text-white mb-2 ">Current Profile Picture</label>
                <img src="<%= user.profilePicture %>" alt="Profile Picture"
                    class="w-24 h-24 mx-auto rounded-full border mb-4 object-cover">
            </div>


            <div class="flex flex-col">
                <label for="profilePicture" class="text-sm font-medium text-white">Upload New Profile Picture</label>
                <input type="file" id="profilePicture" name="profilePicture"
                    class="mt-1 px-3 py-2 bg-gray-700 border text-white border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
            </div>

            <div class="flex flex-col">
                <label for="userName" class="text-sm font-medium text-white">Username</label>
                <input type="text" id="userName" name="userName" value="<%= user.userName %>"
                    class="mt-1 text-white bg-gray-700 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                    placeholder="Enter your username" required>
            </div>

            <div class="flex flex-col">
                <label for="email" class="text-sm font-medium text-white">Email</label>
                <input type="email" id="email" name="email" value="<%= user.email %>"
                    class="mt-1 text-white bg-gray-700 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                    placeholder="Enter your email" required>
            </div>


            <div class="text-center">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold px-6 py-2 rounded-lg transition duration-300">
                    Save Changes
                </button>
            </div>
        </form>

        <!-- change password -->
        <h2 class="text-2xl font-bold text-center text-white mt-8 mb-4">Change Password</h2>

        <form action="/users/change-password" method="POST" class="space-y-4">

            <div class="flex flex-col">
                <label for="currentPassword" class="text-sm font-medium text-white">Current Password</label>
                <input type="password" id="currentPassword" name="currentPassword"
                    class="mt-1 bg-gray-700 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                    placeholder="Enter current password" required>
            </div>


            <div class="flex flex-col">
                <label for="newPassword" class="text-sm font-medium text-white">New Password</label>
                <input type="password" id="newPassword" name="newPassword"
                    class="mt-1 bg-gray-700 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                    placeholder="Enter new password" required>
            </div>


            <div class="flex flex-col">
                <label for="confirmPassword" class="text-sm font-medium text-white">Confirm New Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword"
                    class="mt-1 px-3 bg-gray-700 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                    placeholder="Re-enter new password" required>
            </div>


            <div class="text-center">
                <button type="submit"
                    class="bg-red-500 hover:bg-red-600 text-white font-bold px-6 py-2 rounded-lg transition duration-300">
                    Change Password
                </button>
            </div>
        </form>
    </div>

</body>

</html>